<%= render "pages/home" %>


<% if user_signed_in? %>
<div class = "user-content">
	<center>
    <% if current_user.admin? %>
      <h1>Listing All Finances</h1>
      <% #= link_to 'New Finance', new_finance_path, class: "btn btn-primary" %>
      <br>
	<table class = "table table-striped table-bordered" style="width:60%" >
	<tr class ="info">
      <td><strong>Name</strong></td>
      <td><strong>Supporter Name</strong></td>
      <td><strong>Cash Amount</strong></td>
      <td><strong>Check Amount</strong></td>
	  <td><strong>Check Number</strong></td>
	  <td><strong>Notes</strong></td>
	  <td><strong>Audit</strong></td>
	  <td><strong>Submit</strong></td>
    </tr>
	<tr>
    <%= simple_form_for(@finance, :html => {:class => 'form-inline'}) do |f| %>
        <div "control-group controls controls-row">
        <fieldset>
		<td>
          <%= fields_for :user do |u|  %>
            <%= u.autocomplete_field :fullname, autocomplete_user_fullname_finances_path, :autofocus => true  %>
          <% end %>
		</td>
          <%= f.hidden_field :date, :value => Date.today  %>
          <td><%= f.text_field :supporter_name %></td>
          <td><%= f.text_field :cash_amount, :class => "span1" %></td>
          <td><%= f.text_field :check_amount, :class => "span1" %></td>
          <td><%= f.text_field :check_number, :class => "span1" %></td>
          <td><%= f.text_field :notes, :class => "span1" %></td>
          <%= f.hidden_field :data_entry, :value => current_user.fullname %>
          <td><%= f.text_field :audit %></td><br><br>
          <td><%= f.button :submit, class: "btn btn-primary" %></td>
        </fieldset>
		</div>
    <% end %>
	</tr>
	</table>
	</center>

    <% else %>
       <h1><%= current_user.fullname %>'s Finances</h1> <br>
    <% end %>
    <% @total_cash = 0 %>
    <% @total_check = 0 %>
    <% @total_amount = 0 %>


  <div class="container">
    <%= render "finances_grid" %>
      <div class ="form-actions">
        <h3> Current Table Totals </h3>
        <p> <strong>Total Cash Amount:</strong> $
        <%= number_with_precision(@total_cash, :precision => 2, :delimiter => ',') %>
        </p>
        <p><strong>Total Check Amount:</strong> $
        <%= number_with_precision(@total_check, :precision => 2, :delimiter => ',') %>
        </p>
        <% @total_amount = @total_cash + @total_check %>
        <p><strong>Total Amount:</strong> $
        <%= number_with_precision(@total_amount, :precision => 2, :delimiter => ',') %>
        </p>
      </div>
      <% if current_user.admin? %>
        <button class =  "btn btn-primary wg-external-csv-export-button" data-grid-name = 'g1'> Export To CSV </button>
      <% end %>
     <br />
    </div>
  </div>
<% end %>
