<div class="form-actions edit-page">
    <h2 class="form-horizontal">Edit <%= @user.fullname %>'s Account</h2>

    <%= simple_form_for(@user) do |f| %>
      <%= f.error_notification %>

      <% if current_user.admin? %>
	    
		<%= f.input :fullname %>
        <%= f.label :year %>
        <%= f.select :year, ['Freshman','Sophomore','Junior', 'Senior', 'Super Senior'] %><br><br>
        <%= f.label :school %>
        <%= f.collection_select(:school, School.all, :id, :name) %><br><br>
        <%= f.label :team %>
        <%= f.collection_select(:team, Team.all, :id, :name) %><br><br>
		<% if current_user.id == 1 %>
			<%= f.input :email %>
			<%= f.label :admin? %>
			<%= f.check_box :admin %><br><br>
			<%= f.label :leader? %>
			<%= f.check_box :leader %><br><br>
		<% end %>	
      <% else %>

      <%= f.label :current_password %>
      <%= f.password_field :current_password %><br><br>
      <%= f.label :password %>
      <%= f.password_field :password, label: "New Password", autocomplete: "off" %><br><br>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %><br><br>
      <% end %>
	  <%= f.submit "Update", class: "btn btn-primary btn-large" %>
    <% end %>

</div>