<h1><%= @user.fullname %>'s Finances</h1> <br>
<div class="container">
  <%= render :partial => "finances/finances_grid" %>
    <div class ="form-actions">
      <h3> Current Table Totals </h3>
      <p> <strong>Total Cash Amount:</strong> $
      <%= number_with_precision(@total_cash, :precision => 2, :delimiter => ',') %>
      </p>
      <p><strong>Total Check Amount:</strong> $
      <%= number_with_precision(@total_check, :precision => 2, :delimiter => ',') %>
      </p>
      <% @total_amount = @total_cash + @total_check %>
      <p><strong>Total Amount:</strong> $
      <%= number_with_precision(@total_amount, :precision => 2, :delimiter => ',') %>
      </p>
    </div>
   <br />
  </div>
</div>