<div class = "container">
  <h1><%= Team.find(@team_id).name %>'s Totals Table</h1><br>
  <table class = "table table-striped table-bordered">
    <tr class ="info">
      <td><strong>Name</strong></td>
      <td><strong>Total Amount Raised</strong></td>
	  <td><strong>Total Amount Remaining</strong></td>
	  <td><strong>Goal Reached?</strong></td>
    </tr>
	<% @counter = 0 %>
	<% @users.each do |u| %>
	<tr>
	  <% if u == current_user %>
	    <td><%= link_to u.fullname + " (Leader)", root_path %></td>
	  <% else %>
	    <td><%= link_to u.fullname, leaderlookup_path(:id => u.id) %></td>
	  <% end %>
      <td><%= number_with_precision(@member_total_amount[@counter], :precision => 2, :delimiter => ',') %> </td>
	  
	  <% if @TOTAL_COST - @member_total_amount[@counter] < 0 || u.leader? %>
	    <% if u.leader? %>
		  <td> 0 </td>
		<% else %>
	      <td><%= number_with_precision(@TOTAL_COST - @member_total_amount[@counter], :precision => 2, :delimiter => ',') %> </td>
		<% end %>
		<td> Yes </td>
	  <% else %>
	    <td><%= number_with_precision(@TOTAL_COST - @member_total_amount[@counter], :precision => 2, :delimiter => ',') %> </td>
		<td> No </td>
	  <% end %>
	</tr>
	<% @counter += 1 %>
	<% end %>
    <tr>
      <td><strong>Overall (Does not include Leader's raised funds)</strong></td>
      <td><%= number_with_precision(@total_amount, :precision => 2, :delimiter => ',') %></td>
	  <td><%= number_with_precision((@TOTAL_COST * @num_trainees) - @total_amount, :precision => 2, :delimiter => ',') %></td>
	  <td>N/A</td>
    </tr>
  </table>

</div>